{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ recipe.Recipe_Title }}</h2>
        <div class="date">
            <b><i>Datum: </i></b>{{ recipe.Recipe_Date }}
        </div>
        <div class="author">
            <b><i>Přidal/a uživatel/ka: </i></b> {{ recipe.Recipe_Author }}
        </div>
        <div class="ingredients">
            <b><i>Ingredience:</i></b>
            <p>{{ recipe.Recipe_Ingredients|linebreaksbr }}</p>
        </div>
        <div class="description">
            <b><i>Postup:</i></b>
            <p>{{ recipe.Recipe_Description|linebreaksbr }}</p>
        </div>
    </div>
    <div class="col-md-4 obrazek">
        {% if recipe.Recipe_Img %}
        <img src="{{ recipe.Recipe_Img.url }}" alt="{{ recipe.Recipe_Img.url }}" class="thumbnail"
             width="100%">
        {% endif %}
    </div>
</div>
{% endblock %}
